<div
    class="mx-auto max-w-screen-sm my-5 p-4 pb-8 bg-gradient-to-br from-cyan-700 to-blue-700 h-fit shadow-xl shadow-gray-400 rounded-3xl">


    <!-- Top Buttons start-->
    <div class="flex items-center justify-between mx-9 mb-4 mt-2">
        <ng-container *ngFor="let topButton of topButtons">
            <button class="text-white text-lg font-medium">{{ topButton.title }}</button>
        </ng-container>
    </div>
    <!-- Top Buttons end -->


    <!-- Input Area start -->
    <div class="flex flex-row justify-center my-4 space-x-8">

        <!-- search box start -->
        <div class="flex flex-row items-center justify-center space-x-4">
            <input type="text"
                class="text-xl font-normal py-2 px-5 w-full shadow-xl focus:outline-none capitalize placeholder:lowercase rounded-3xl"
                placeholder="Search for city...">
            <i
                class="uil uil-search font-medium text-2xl cursor-pointer transition ease-out hover:scale-125 text-white"></i>
            <i
                class="uil uil-location-point font-medium text-2xl cursor-pointer transition ease-out hover:scale-125 text-white"></i>
        </div>
        <!-- search box end -->

        <!-- Temperature units start -->
        <div class="flex flex-row items-center justify-center space-x-2">
            <button name="metric"
                class="text-xl text-white font-normal cursor-pointer transition ease-out hover:scale-125">°C</button>
            <!-- <p class="text-2xl text-white font-medium">|</p> -->
            <div class="w-[2px] bg-white h-3/5"></div>
            <button name="imperial"
                class="text-xl text-white font-normal cursor-pointer transition ease-out hover:scale-125">°F</button>
        </div>
        <!-- Temperature units ends -->

    </div>
    <!-- Input Area end -->


    <!-- Date, Time and Location conatiner start -->
    <div class="flex flex-col items-center">

        <!-- Date and Time start -->
        <div class="flex flex-row items-center justify-center my-4 space-x-2">
            <div class="text-white font-light text-xl ">Tuesday, 31 May 2022</div>
            <div class="w-[2px] bg-white h-3/5 text-white font-thin">.</div>
            <div class="text-white font-light text-xl ">Local time 12:46 PM</div>
        </div>
        <!-- Date and Time end -->

        <!-- Location start -->
        <div class="my-2 text-white font-semibold text-3xl">Location</div>
        <!-- Location end -->

    </div>
    <!-- Date, Time and Location container end-->


    <!-- Current temperature and current details start -->
    <div class="flex flex-col">

        <!--current weather comment start -->
        <div class="flex items-center justify-center py-4 text-xl text-cyan-300 capitalize">
            Cloudy or Rainy or Sunny
        </div>
        <!--current weather comment end -->

        <!--current weather details start-->
        <div class="flex flex-row items-center justify-around text-white py-2">

            <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="">

            <p class="text-5xl">26<span class="text-3xl align-text-top">°C</span></p>

            <div class="flex flex-col flex-nowrap justify-between items-center text-white space-y-1">

                <div class="flex font-light items-center justify-center space-x-1 flex-nowrap">
                    <i class="uil uil-temperature-half text-lg "></i>
                    <p class="text-sm">Feels like :</p>
                    <p class="font-normal">30°</p>
                </div>

                <div class="flex font-light items-center justify-center space-x-1 flex-nowrap">
                    <i class="uil uil-tear text-lg "></i>
                    <p class="text-sm">Humidty :</p>
                    <p class="font-normal">40%</p>
                </div>

                <div class="flex font-light items-center justify-center space-x-1 flex-nowrap">
                    <i class="uil uil-windsock text-lg"></i>
                    <p class="text-sm">Wind :</p>
                    <p class="font-normal">10 m/s</p>
                </div>

            </div>
        </div>
        <!--current weather details end-->

        <!-- Today's Sun rise/set time and max/min temp start -->
        <div class="flex flex-row items-center justify-center space-x-3 text-white text-sm pb-2">
            <i class="uil uil-sun"></i>
            <p class="font-light">Rise : <span class="font-normal">06:45 AM</span></p>
            <div class="w-[1px] bg-white h-3/5 text-white font-thin text-[1px]">.</div>
            <i class="uil uil-sunset"></i>
            <p class="font-light">Set : <span class="font-normal">06:32 PM</span></p>
            <div class="w-[1px] bg-white h-3/5 text-white font-thin text-[1px]">.</div>
            <i class="uil uil-arrow-up"></i>
            <p class="font-light">High : <span class="font-normal">27°</span></p>
            <div class="w-[1px] bg-white h-3/5 text-white font-thin text-[1px]">.</div>
            <i class="uil uil-arrow-down"></i>
            <p class="font-light">Low : <span class="font-normal">24°</span></p>
        </div>
        <!-- Today's Sun rise/set time and max/min temp end -->

    </div>
    <!-- Current temperature and current details end -->


    <!-- Hourly Forcast start -->
    <div class="flex flex-col mx-9">
        <div class="flex items-center justify-start mt-4">
            <p class="text-white font-medium uppercase">hourly forecast</p>
        </div>
        <hr class="my-1">
        <div class="flex flex-row items-center justify-between text-white">

            <ng-container >
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm">04:30 PM</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm">04:30 PM</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm">04:30 PM</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm">04:30 PM</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm">04:30 PM</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
            </ng-container>

        </div>
    </div>
    <!-- Hourly Forcast end -->


    <!-- Daily Forcast start -->
    <div class="flex flex-col mx-9">
        <div class="flex items-center justify-start mt-4">
            <p class="text-white font-medium uppercase">daily forcast</p>
        </div>
        <hr class="my-1">
        <div class="flex flex-row items-center justify-between text-white">

            <ng-container >
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm capitalize">wed</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm capitalize">thu</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm capitalize">fri</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm capitalize">sat</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <p class="font-light text-sm capitalize">sun</p>
                    <img src="https://openweathermap.org/img/wn/10d.png" alt="">
                    <p class="font-medium">22°</p>
                </div>
            </ng-container>

        </div>
    </div>
    <!-- Daily Forcast end -->


</div>